# 2. Dowiedzieć się, ile zgonów oraz obrażeń zostało spowodowanych przez szybką jazdę ogólnie, oraz w danej dzielnicy

# A

In [1]:
import pandas as pd

In [2]:
motor_data = pd.read_csv("/Users/agata/Desktop/nypd-motor-vehicle-collisions.csv", low_memory=False, dtype={'third_column': 'str'})

motor_data

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612173,2012-07-21T00:00:00.000,22:46,BROOKLYN,11226,40.651741,-73.965241,"{'type': 'Point', 'coordinates': [-73.9652409,...",PARADE PLACE,CROOKE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147595,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1612174,2012-07-09T00:00:00.000,16:45,NaN,NaN,NaN,NaN,NaN,EDWARD L GRANT HIGHWAY,WEST 169 STREET,NaN,...,Fatigued/Drowsy,Unspecified,NaN,NaN,85220,PASSENGER VEHICLE,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN
1612175,2012-07-09T00:00:00.000,14:35,NaN,NaN,40.791492,-73.935763,"{'type': 'Point', 'coordinates': [-73.935763, ...",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2853431,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1612176,2012-07-18T00:00:00.000,9:20,MANHATTAN,10024,40.779479,-73.973573,"{'type': 'Point', 'coordinates': [-73.9735729,...",CENTRAL PARK WEST,WEST 77 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,52405,SPORT UTILITY / STATION WAGON,VAN,BUS,NaN,NaN
1612177,2012-07-12T00:00:00.000,3:10,QUEENS,11361,40.762501,-73.782522,"{'type': 'Point', 'coordinates': [-73.7825216,...",39 AVENUE,203 STREET,NaN,...,NaN,NaN,NaN,NaN,259445,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

In [3]:
all_borough_df1 = motor_data['NUMBER OF PERSONS INJURED']
all_borough_df2 = motor_data['NUMBER OF PERSONS KILLED']
all_borough_df3 = motor_data['NUMBER OF PEDESTRIANS INJURED']
all_borough_df4 = motor_data['NUMBER OF PEDESTRIANS KILLED']
all_borough_df5 = motor_data['NUMBER OF CYCLIST INJURED']
all_borough_df6 = motor_data['NUMBER OF CYCLIST KILLED']
all_borough_df7 = motor_data['NUMBER OF MOTORIST INJURED']
all_borough_df8 = motor_data['NUMBER OF MOTORIST KILLED']

display(all_borough_df1)
display(all_borough_df2)
display(all_borough_df3)
display(all_borough_df4)
display(all_borough_df5)
display(all_borough_df6)
display(all_borough_df7)
display(all_borough_df8)

0          0.0
1          0.0
2          1.0
3          0.0
4          1.0
          ...
1612173    0.0
1612174    5.0
1612175    0.0
1612176    0.0
1612177    0.0
Name: NUMBER OF PERSONS INJURED, Length: 1612178, dtype: float64

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
1612173    0.0
1612174    0.0
1612175    0.0
1612176    0.0
1612177    0.0
Name: NUMBER OF PERSONS KILLED, Length: 1612178, dtype: float64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF PEDESTRIANS INJURED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF PEDESTRIANS KILLED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          1
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF CYCLIST INJURED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF CYCLIST KILLED, Length: 1612178, dtype: int64

0          0
1          0
2          1
3          0
4          0
          ..
1612173    0
1612174    5
1612175    0
1612176    0
1612177    0
Name: NUMBER OF MOTORIST INJURED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF MOTORIST KILLED, Length: 1612178, dtype: int64

In [4]:
all_borough_df_concat = pd.concat([all_borough_df1, all_borough_df2, all_borough_df3, all_borough_df4, all_borough_df5, all_borough_df6, all_borough_df7, all_borough_df8])
all_borough_df_concat

0          0.0
1          0.0
2          1.0
3          0.0
4          1.0
          ...
1612173    0.0
1612174    0.0
1612175    0.0
1612176    0.0
1612177    0.0
Length: 12897424, dtype: float64

# ODP: ilość zgonów i obrażeń ogólnie

In [5]:
all_borough_df_concat.sum()

852490.0

# B

In [6]:
contain_queens = pd.DataFrame(motor_data, columns = ['BOROUGH', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED'])
print (contain_queens)

           BOROUGH  NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
0           QUEENS                        0.0                       0.0  \
1         BROOKLYN                        0.0                       0.0
2        MANHATTAN                        1.0                       0.0
3            BRONX                        0.0                       0.0
4        MANHATTAN                        1.0                       0.0
...            ...                        ...                       ...
1612173   BROOKLYN                        0.0                       0.0
1612174        NaN                        5.0                       0.0
1612175        NaN                        0.0                       0.0
1612176  MANHATTAN                        0.0                       0.0
1612177     QUEENS                        0.0                       0.0

         NUMBER OF PEDESTRIANS INJURED  NUMBER OF PEDESTRIANS KILLED
0                                    0                             0  \
1                                    0                             0
2                                    0                             0
3                                    0                             0
4                                    0                             0
...                                ...                           ...
1612173                              0                             0
1612174                              0                             0
1612175                              0                             0
1612176                              0                             0
1612177                              0                             0

         NUMBER OF CYCLIST INJURED  NUMBER OF CYCLIST KILLED
0                                0                         0  \
1                                0                         0
2                                0                         0
3                                0                         0
4                                1                         0
...                            ...                       ...
1612173                          0                         0
1612174                          0                         0
1612175                          0                         0
1612176                          0                         0
1612177                          0                         0

         NUMBER OF MOTORIST INJURED  NUMBER OF MOTORIST KILLED
0                                 0                          0
1                                 0                          0
2                                 1                          0
3                                 0                          0
4                                 0                          0
...                             ...                        ...
1612173                           0                          0
1612174                           5                          0
1612175                           0                          0
1612176                           0                          0
1612177                           0                          0

[1612178 rows x 9 columns]

In [7]:
contain_queens2 = contain_queens[contain_queens['BOROUGH'].str.contains('QUEENS', na=False)]
print (contain_queens2)

        BOROUGH  NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
0        QUEENS                        0.0                       0.0  \
6        QUEENS                        0.0                       0.0
8        QUEENS                        0.0                       0.0
14       QUEENS                        1.0                       0.0
28       QUEENS                        0.0                       0.0
...         ...                        ...                       ...
1612151  QUEENS                        1.0                       0.0
1612158  QUEENS                        0.0                       0.0
1612166  QUEENS                        0.0                       0.0
1612172  QUEENS                        0.0                       0.0
1612177  QUEENS                        0.0                       0.0

         NUMBER OF PEDESTRIANS INJURED  NUMBER OF PEDESTRIANS KILLED
0                                    0                             0  \
6                                    0                             0
8                                    0                             0
14                                   0                             0
28                                   0                             0
...                                ...                           ...
1612151                              0                             0
1612158                              0                             0
1612166                              0                             0
1612172                              0                             0
1612177                              0                             0

         NUMBER OF CYCLIST INJURED  NUMBER OF CYCLIST KILLED
0                                0                         0  \
6                                0                         0
8                                0                         0
14                               0                         0
28                               0                         0
...                            ...                       ...
1612151                          0                         0
1612158                          0                         0
1612166                          0                         0
1612172                          0                         0
1612177                          0                         0

         NUMBER OF MOTORIST INJURED  NUMBER OF MOTORIST KILLED
0                                 0                          0
6                                 0                          0
8                                 0                          0
14                                1                          0
28                                0                          0
...                             ...                        ...
1612151                           1                          0
1612158                           0                          0
1612166                           0                          0
1612172                           0                          0
1612177                           0                          0

[299308 rows x 9 columns]

In [8]:
queens_borough_df_concat = pd.concat([contain_queens2])
queens_borough_df_concat

,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,QUEENS,0.0,0.0,0,0,0,0,0,0
6,QUEENS,0.0,0.0,0,0,0,0,0,0
8,QUEENS,0.0,0.0,0,0,0,0,0,0
14,QUEENS,1.0,0.0,0,0,0,0,1,0
28,QUEENS,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1612151,QUEENS,1.0,0.0,0,0,0,0,1,0
1612158,QUEENS,0.0,0.0,0,0,0,0,0,0
1612166,QUEENS,0.0,0.0,0,0,0,0,0,0
1612172,QUEENS,0.0,0.0,0,0,0,0,0,0
1612177,QUEENS,0.0,0.0,0,0,0,0,0,0

# ODP: ilość zgonów oraz obrażeń spowodowanych w wybranej dzielnicy - QUEENS

In [13]:
queens_borough_df_concat.sum()

BOROUGH                          QUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEE...
NUMBER OF PERSONS INJURED                                                  78719.0
NUMBER OF PERSONS KILLED                                                     369.0
NUMBER OF PEDESTRIANS INJURED                                                15419
NUMBER OF PEDESTRIANS KILLED                                                   206
NUMBER OF CYCLIST INJURED                                                     5301
NUMBER OF CYCLIST KILLED                                                        28
NUMBER OF MOTORIST INJURED                                                   58011
NUMBER OF MOTORIST KILLED                                                      135
dtype: object