# Analiza i Przetwarzanie Danych

## Analiza danych dotyczących wypadków samochodowych w NY

In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [136]:
### Wczytanie danych

In [6]:
motor_data = pd.read_csv("/Users/agata/Desktop/nypd-motor-vehicle-collisions.csv", low_memory=False, dtype={'third_column': 'str'})

motor_data

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612173,2012-07-21T00:00:00.000,22:46,BROOKLYN,11226,40.651741,-73.965241,"{'type': 'Point', 'coordinates': [-73.9652409,...",PARADE PLACE,CROOKE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147595,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1612174,2012-07-09T00:00:00.000,16:45,NaN,NaN,NaN,NaN,NaN,EDWARD L GRANT HIGHWAY,WEST 169 STREET,NaN,...,Fatigued/Drowsy,Unspecified,NaN,NaN,85220,PASSENGER VEHICLE,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN
1612175,2012-07-09T00:00:00.000,14:35,NaN,NaN,40.791492,-73.935763,"{'type': 'Point', 'coordinates': [-73.935763, ...",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2853431,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1612176,2012-07-18T00:00:00.000,9:20,MANHATTAN,10024,40.779479,-73.973573,"{'type': 'Point', 'coordinates': [-73.9735729,...",CENTRAL PARK WEST,WEST 77 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,52405,SPORT UTILITY / STATION WAGON,VAN,BUS,NaN,NaN
1612177,2012-07-12T00:00:00.000,3:10,QUEENS,11361,40.762501,-73.782522,"{'type': 'Point', 'coordinates': [-73.7825216,...",39 AVENUE,203 STREET,NaN,...,NaN,NaN,NaN,NaN,259445,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

#### czyszczenie/przygotowanie danych

In [8]:
motor_data.shape

(1612178, 29)

In [9]:
display(motor_data.info(),
motor_data.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ACCIDENT DATE                  1612178 non-null  object
 1   ACCIDENT TIME                  1612178 non-null  object
 2   BOROUGH                        1127553 non-null  object
 3   ZIP CODE                       1127376 non-null  object
 4   LATITUDE                       1415893 non-null  float64
 5   LONGITUDE                      1415893 non-null  float64
 6   LOCATION                       1415893 non-null  object
 7   ON STREET NAME                 1298002 non-null  object
 8   CROSS STREET NAME              1079193 non-null  object
 9   OFF STREET NAME                219732 non-null   object
 10  NUMBER OF PERSONS INJURED      1612161 non-null  float64
 11  NUMBER OF PERSONS KILLED       1612145 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  1612178 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   1612178 non-null  int64
 14  NUMBER OF CYCLIST INJURED      1612178 non-null  int64
 15  NUMBER OF CYCLIST KILLED       1612178 non-null  int64
 16  NUMBER OF MOTORIST INJURED     1612178 non-null  int64
 17  NUMBER OF MOTORIST KILLED      1612178 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  1607854 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  1396127 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  104254 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  21789 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  5622 non-null     object
 23  COLLISION_ID                   1612178 non-null  int64
 24  VEHICLE TYPE CODE 1            1606597 non-null  object
 25  VEHICLE TYPE CODE 2            1346858 non-null  object
 26  VEHICLE TYPE CODE 3            128742 non-null   object
 27  VEHICLE TYPE CODE 4            46009 non-null    object
 28  VEHICLE TYPE CODE 5            10150 non-null    object
dtypes: float64(4), int64(7), object(18)
memory usage: 356.7+ MB

None

ACCIDENT DATE                     object
ACCIDENT TIME                     object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [10]:
display(motor_data.columns)
display(motor_data.index)

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

RangeIndex(start=0, stop=1612178, step=1)

In [11]:
print(motor_data.columns)

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

# 1. Określić najniebezpieczniejsze czynniki wypadków w danej dzielnicy NY

contributing factor vehicle 1-5

#### wybrana dzielnica QUEENS

In [100]:
contain_queens1 = pd.DataFrame(motor_data, columns = ['BOROUGH', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'])
print (contain_queens1)

           BOROUGH   CONTRIBUTING FACTOR VEHICLE 1
0           QUEENS             Passing Too Closely  \
1         BROOKLYN             Passing Too Closely
2        MANHATTAN  Driver Inattention/Distraction
3            BRONX                     Unspecified
4        MANHATTAN  Driver Inattention/Distraction
...            ...                             ...
1612173   BROOKLYN     Traffic Control Disregarded
1612174        NaN                 Fatigued/Drowsy
1612175        NaN                 Fatigued/Drowsy
1612176  MANHATTAN  Driver Inattention/Distraction
1612177     QUEENS                     Unspecified

          CONTRIBUTING FACTOR VEHICLE 2 CONTRIBUTING FACTOR VEHICLE 3
0                           Unspecified                           NaN  \
1                           Unspecified                           NaN
2                                   NaN                           NaN
3                           Unspecified                           NaN
4        Driver Inattention/Distraction                           NaN
...                                 ...                           ...
1612173                     Unspecified                           NaN
1612174                 Fatigued/Drowsy                   Unspecified
1612175                     Unspecified                           NaN
1612176                     Unspecified                   Unspecified
1612177                             NaN                           NaN

        CONTRIBUTING FACTOR VEHICLE 4 CONTRIBUTING FACTOR VEHICLE 5
0                                 NaN                           NaN
1                                 NaN                           NaN
2                                 NaN                           NaN
3                                 NaN                           NaN
4                                 NaN                           NaN
...                               ...                           ...
1612173                           NaN                           NaN
1612174                           NaN                           NaN
1612175                           NaN                           NaN
1612176                           NaN                           NaN
1612177                           NaN                           NaN

[1612178 rows x 6 columns]

In [102]:
contain_queens1 = pd.concat([contain_queens1])
contain_queens1

,BOROUGH,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5
0,QUEENS,Passing Too Closely,Unspecified,NaN,NaN,NaN
1,BROOKLYN,Passing Too Closely,Unspecified,NaN,NaN,NaN
2,MANHATTAN,Driver Inattention/Distraction,NaN,NaN,NaN,NaN
3,BRONX,Unspecified,Unspecified,NaN,NaN,NaN
4,MANHATTAN,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN
...,...,...,...,...,...,...
1612173,BROOKLYN,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN
1612174,NaN,Fatigued/Drowsy,Fatigued/Drowsy,Unspecified,NaN,NaN
1612175,NaN,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN
1612176,MANHATTAN,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN
1612177,QUEENS,Unspecified,NaN,NaN,NaN,NaN

In [103]:
contain_queens1= contain_queens1[contain_queens1['BOROUGH'].str.contains('QUEENS', na=False)]
print (contain_queens1)

        BOROUGH   CONTRIBUTING FACTOR VEHICLE 1 CONTRIBUTING FACTOR VEHICLE 2
0        QUEENS             Passing Too Closely                   Unspecified  \
6        QUEENS                     Unspecified                           NaN
8        QUEENS  Reaction to Uninvolved Vehicle                   Unspecified
14       QUEENS         View Obstructed/Limited                  Unsafe Speed
28       QUEENS                     Unspecified                   Unspecified
...         ...                             ...                           ...
1612151  QUEENS                     Unspecified                   Unspecified
1612158  QUEENS                     Unspecified                   Unspecified
1612166  QUEENS                     Unspecified                   Unspecified
1612172  QUEENS         Other Electronic Device                   Unspecified
1612177  QUEENS                     Unspecified                           NaN

        CONTRIBUTING FACTOR VEHICLE 3 CONTRIBUTING FACTOR VEHICLE 4
0                                 NaN                           NaN  \
6                                 NaN                           NaN
8                                 NaN                           NaN
14                                NaN                           NaN
28                                NaN                           NaN
...                               ...                           ...
1612151                           NaN                           NaN
1612158                           NaN                           NaN
1612166                           NaN                           NaN
1612172                           NaN                           NaN
1612177                           NaN                           NaN

        CONTRIBUTING FACTOR VEHICLE 5
0                                 NaN
6                                 NaN
8                                 NaN
14                                NaN
28                                NaN
...                               ...
1612151                           NaN
1612158                           NaN
1612166                           NaN
1612172                           NaN
1612177                           NaN

[299308 rows x 6 columns]

In [104]:
contain_queens1 = contain_queens1.dropna(how='all')
contain_queens1

,BOROUGH,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5
0,QUEENS,Passing Too Closely,Unspecified,NaN,NaN,NaN
6,QUEENS,Unspecified,NaN,NaN,NaN,NaN
8,QUEENS,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN
14,QUEENS,View Obstructed/Limited,Unsafe Speed,NaN,NaN,NaN
28,QUEENS,Unspecified,Unspecified,NaN,NaN,NaN
...,...,...,...,...,...,...
1612151,QUEENS,Unspecified,Unspecified,NaN,NaN,NaN
1612158,QUEENS,Unspecified,Unspecified,NaN,NaN,NaN
1612166,QUEENS,Unspecified,Unspecified,NaN,NaN,NaN
1612172,QUEENS,Other Electronic Device,Unspecified,NaN,NaN,NaN
1612177,QUEENS,Unspecified,NaN,NaN,NaN,NaN

In [105]:
contain_queens1 = contain_queens1.dropna(how='any', axis=0)
contain_queens1

,BOROUGH,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5
65,QUEENS,Unsafe Lane Changing,Unspecified,Unspecified,Unspecified,Unspecified
288,QUEENS,Alcohol Involvement,Unspecified,Unspecified,Unspecified,Unspecified
1325,QUEENS,Following Too Closely,Following Too Closely,Following Too Closely,Following Too Closely,Unspecified
2802,QUEENS,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,Unspecified
3821,QUEENS,Unsafe Speed,Unspecified,Unspecified,Unspecified,Unspecified
...,...,...,...,...,...,...
1608782,QUEENS,Driver Inattention/Distraction,Unspecified,Unspecified,Unspecified,Unspecified
1609638,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified
1611199,QUEENS,Backing Unsafely,Unspecified,Unspecified,Unspecified,Unspecified
1611270,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified
1612063,QUEENS,Brakes Defective,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Unspecified

## odpowiedź zad 1

In [107]:
contain_queens1.value_counts().nlargest(30)
contain_queens1

,BOROUGH,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5
65,QUEENS,Unsafe Lane Changing,Unspecified,Unspecified,Unspecified,Unspecified
288,QUEENS,Alcohol Involvement,Unspecified,Unspecified,Unspecified,Unspecified
1325,QUEENS,Following Too Closely,Following Too Closely,Following Too Closely,Following Too Closely,Unspecified
2802,QUEENS,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,Unspecified
3821,QUEENS,Unsafe Speed,Unspecified,Unspecified,Unspecified,Unspecified
...,...,...,...,...,...,...
1608782,QUEENS,Driver Inattention/Distraction,Unspecified,Unspecified,Unspecified,Unspecified
1609638,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified
1611199,QUEENS,Backing Unsafely,Unspecified,Unspecified,Unspecified,Unspecified
1611270,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified
1612063,QUEENS,Brakes Defective,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Unspecified

# 2. Dowiedzieć się, ile zgonów oraz obrażeń zostało spowodowanych przez szybką jazdę
ogólnie, oraz w danej dzielnicy

In [15]:
all_borough_df1 = motor_data['NUMBER OF PERSONS INJURED']
all_borough_df2 = motor_data['NUMBER OF PERSONS KILLED']
all_borough_df3 = motor_data['NUMBER OF PEDESTRIANS INJURED']
all_borough_df4 = motor_data['NUMBER OF PEDESTRIANS KILLED']
all_borough_df5 = motor_data['NUMBER OF CYCLIST INJURED']
all_borough_df6 = motor_data['NUMBER OF CYCLIST KILLED']
all_borough_df7 = motor_data['NUMBER OF MOTORIST INJURED']
all_borough_df8 = motor_data['NUMBER OF MOTORIST KILLED']

display(all_borough_df1)
display(all_borough_df2)
display(all_borough_df3)
display(all_borough_df4)
display(all_borough_df5)
display(all_borough_df6)
display(all_borough_df7)
display(all_borough_df8)

0          0.0
1          0.0
2          1.0
3          0.0
4          1.0
          ...
1612173    0.0
1612174    5.0
1612175    0.0
1612176    0.0
1612177    0.0
Name: NUMBER OF PERSONS INJURED, Length: 1612178, dtype: float64

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
1612173    0.0
1612174    0.0
1612175    0.0
1612176    0.0
1612177    0.0
Name: NUMBER OF PERSONS KILLED, Length: 1612178, dtype: float64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF PEDESTRIANS INJURED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF PEDESTRIANS KILLED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          1
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF CYCLIST INJURED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF CYCLIST KILLED, Length: 1612178, dtype: int64

0          0
1          0
2          1
3          0
4          0
          ..
1612173    0
1612174    5
1612175    0
1612176    0
1612177    0
Name: NUMBER OF MOTORIST INJURED, Length: 1612178, dtype: int64

0          0
1          0
2          0
3          0
4          0
          ..
1612173    0
1612174    0
1612175    0
1612176    0
1612177    0
Name: NUMBER OF MOTORIST KILLED, Length: 1612178, dtype: int64

In [16]:
all_borough_df_concat = pd.concat([all_borough_df1, all_borough_df2, all_borough_df3, all_borough_df4, all_borough_df5, all_borough_df6, all_borough_df7, all_borough_df8])
all_borough_df_concat

0          0.0
1          0.0
2          1.0
3          0.0
4          1.0
          ...
1612173    0.0
1612174    0.0
1612175    0.0
1612176    0.0
1612177    0.0
Length: 12897424, dtype: float64

# ODP - ILOŚĆ ZGONÓW I OBRAŻEŃ ogólnie

In [22]:
all_borough_df_concat.sum()

852490.0

## B w dzielnicy Queens

In [35]:
contain_queens = pd.DataFrame(motor_data, columns = ['BOROUGH', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED'])
print (contain_queens)

           BOROUGH  NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
0           QUEENS                        0.0                       0.0  \
1         BROOKLYN                        0.0                       0.0
2        MANHATTAN                        1.0                       0.0
3            BRONX                        0.0                       0.0
4        MANHATTAN                        1.0                       0.0
...            ...                        ...                       ...
1612173   BROOKLYN                        0.0                       0.0
1612174        NaN                        5.0                       0.0
1612175        NaN                        0.0                       0.0
1612176  MANHATTAN                        0.0                       0.0
1612177     QUEENS                        0.0                       0.0

         NUMBER OF PEDESTRIANS INJURED  NUMBER OF PEDESTRIANS KILLED
0                                    0                             0  \
1                                    0                             0
2                                    0                             0
3                                    0                             0
4                                    0                             0
...                                ...                           ...
1612173                              0                             0
1612174                              0                             0
1612175                              0                             0
1612176                              0                             0
1612177                              0                             0

         NUMBER OF CYCLIST INJURED  NUMBER OF CYCLIST KILLED
0                                0                         0  \
1                                0                         0
2                                0                         0
3                                0                         0
4                                1                         0
...                            ...                       ...
1612173                          0                         0
1612174                          0                         0
1612175                          0                         0
1612176                          0                         0
1612177                          0                         0

         NUMBER OF MOTORIST INJURED  NUMBER OF MOTORIST KILLED
0                                 0                          0
1                                 0                          0
2                                 1                          0
3                                 0                          0
4                                 0                          0
...                             ...                        ...
1612173                           0                          0
1612174                           5                          0
1612175                           0                          0
1612176                           0                          0
1612177                           0                          0

[1612178 rows x 9 columns]

In [52]:
contain_queens2 = contain_queens[contain_queens['BOROUGH'].str.contains('QUEENS', na=False)]
print (contain_queens2)

        BOROUGH  NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
0        QUEENS                        0.0                       0.0  \
6        QUEENS                        0.0                       0.0
8        QUEENS                        0.0                       0.0
14       QUEENS                        1.0                       0.0
28       QUEENS                        0.0                       0.0
...         ...                        ...                       ...
1612151  QUEENS                        1.0                       0.0
1612158  QUEENS                        0.0                       0.0
1612166  QUEENS                        0.0                       0.0
1612172  QUEENS                        0.0                       0.0
1612177  QUEENS                        0.0                       0.0

         NUMBER OF PEDESTRIANS INJURED  NUMBER OF PEDESTRIANS KILLED
0                                    0                             0  \
6                                    0                             0
8                                    0                             0
14                                   0                             0
28                                   0                             0
...                                ...                           ...
1612151                              0                             0
1612158                              0                             0
1612166                              0                             0
1612172                              0                             0
1612177                              0                             0

         NUMBER OF CYCLIST INJURED  NUMBER OF CYCLIST KILLED
0                                0                         0  \
6                                0                         0
8                                0                         0
14                               0                         0
28                               0                         0
...                            ...                       ...
1612151                          0                         0
1612158                          0                         0
1612166                          0                         0
1612172                          0                         0
1612177                          0                         0

         NUMBER OF MOTORIST INJURED  NUMBER OF MOTORIST KILLED
0                                 0                          0
6                                 0                          0
8                                 0                          0
14                                1                          0
28                                0                          0
...                             ...                        ...
1612151                           1                          0
1612158                           0                          0
1612166                           0                          0
1612172                           0                          0
1612177                           0                          0

[299308 rows x 9 columns]

In [53]:
queens_borough_df_concat = pd.concat([contain_queens2])
queens_borough_df_concat

,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,QUEENS,0.0,0.0,0,0,0,0,0,0
6,QUEENS,0.0,0.0,0,0,0,0,0,0
8,QUEENS,0.0,0.0,0,0,0,0,0,0
14,QUEENS,1.0,0.0,0,0,0,0,1,0
28,QUEENS,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1612151,QUEENS,1.0,0.0,0,0,0,0,1,0
1612158,QUEENS,0.0,0.0,0,0,0,0,0,0
1612166,QUEENS,0.0,0.0,0,0,0,0,0,0
1612172,QUEENS,0.0,0.0,0,0,0,0,0,0
1612177,QUEENS,0.0,0.0,0,0,0,0,0,0

In [61]:
queens_borough_df_concat.sum()

BOROUGH                          QUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEE...
NUMBER OF PERSONS INJURED                                                  78719.0
NUMBER OF PERSONS KILLED                                                     369.0
NUMBER OF PEDESTRIANS INJURED                                                15419
NUMBER OF PEDESTRIANS KILLED                                                   206
NUMBER OF CYCLIST INJURED                                                     5301
NUMBER OF CYCLIST KILLED                                                        28
NUMBER OF MOTORIST INJURED                                                   58011
NUMBER OF MOTORIST KILLED                                                      135
dtype: object

# odpowiedź dla dzielnicy QUEENS

In [55]:
all_borough_df_concat.count()

12897374

# 3. Określić top 5 najniebezpieczniejszych czynników wypadków

In [95]:
df1 = motor_data['CONTRIBUTING FACTOR VEHICLE 1']
df2 = motor_data['CONTRIBUTING FACTOR VEHICLE 2']
df3 = motor_data['CONTRIBUTING FACTOR VEHICLE 3']
df4 = motor_data['CONTRIBUTING FACTOR VEHICLE 4']
df5 = motor_data['CONTRIBUTING FACTOR VEHICLE 5']


display(df1)
display(df2)
display(df3)
display(df4)
display(df5)

df_concat = pd.concat([df1, df2, df3, df4, df5])
df_concat

0                     Passing Too Closely
1                     Passing Too Closely
2          Driver Inattention/Distraction
3                             Unspecified
4          Driver Inattention/Distraction
                        ...
1612173       Traffic Control Disregarded
1612174                   Fatigued/Drowsy
1612175                   Fatigued/Drowsy
1612176    Driver Inattention/Distraction
1612177                       Unspecified
Name: CONTRIBUTING FACTOR VEHICLE 1, Length: 1612178, dtype: object

0                             Unspecified
1                             Unspecified
2                                     NaN
3                             Unspecified
4          Driver Inattention/Distraction
                        ...
1612173                       Unspecified
1612174                   Fatigued/Drowsy
1612175                       Unspecified
1612176                       Unspecified
1612177                               NaN
Name: CONTRIBUTING FACTOR VEHICLE 2, Length: 1612178, dtype: object

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
              ...
1612173            NaN
1612174    Unspecified
1612175            NaN
1612176    Unspecified
1612177            NaN
Name: CONTRIBUTING FACTOR VEHICLE 3, Length: 1612178, dtype: object

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1612173    NaN
1612174    NaN
1612175    NaN
1612176    NaN
1612177    NaN
Name: CONTRIBUTING FACTOR VEHICLE 4, Length: 1612178, dtype: object

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1612173    NaN
1612174    NaN
1612175    NaN
1612176    NaN
1612177    NaN
Name: CONTRIBUTING FACTOR VEHICLE 5, Length: 1612178, dtype: object

0                     Passing Too Closely
1                     Passing Too Closely
2          Driver Inattention/Distraction
3                             Unspecified
4          Driver Inattention/Distraction
                        ...
1612173                               NaN
1612174                               NaN
1612175                               NaN
1612176                               NaN
1612177                               NaN
Length: 8060890, dtype: object

In [75]:
df_concat = df_concat.dropna(how='any', axis=0)
df_concat

0                     Passing Too Closely
1                     Passing Too Closely
2          Driver Inattention/Distraction
3                             Unspecified
4          Driver Inattention/Distraction
                        ...
1610395                       Unspecified
1611142                       Unspecified
1611199                       Unspecified
1611270                       Unspecified
1612063                       Unspecified
Length: 3135646, dtype: object

## odpowiedź - top 5 najniebezpieczniejszych czynników wypadków

In [93]:
df_concat.value_counts().nlargest(5)

Unspecified                       1892099
Driver Inattention/Distraction     374570
Failure to Yield Right-of-Way      105739
Following Too Closely               93248
Other Vehicular                     80424
Name: count, dtype: int64

# 4. Wygenerować wizualizację określającą ilość wypadków z podziałem na dni tygodnia

In [111]:
week = pd.DataFrame(motor_data, columns = ['ACCIDENT DATE'])
print (week)

                   ACCIDENT DATE
0        2019-08-05T00:00:00.000
1        2019-08-27T00:00:00.000
2        2019-08-15T00:00:00.000
3        2019-08-30T00:00:00.000
4        2019-08-06T00:00:00.000
...                          ...
1612173  2012-07-21T00:00:00.000
1612174  2012-07-09T00:00:00.000
1612175  2012-07-09T00:00:00.000
1612176  2012-07-18T00:00:00.000
1612177  2012-07-12T00:00:00.000

[1612178 rows x 1 columns]

In [113]:
week = pd.date_range('2012-12-31', '2019-01-01', freq='D').to_series()
week.dt.dayofweek

2012-12-31    0
2013-01-01    1
2013-01-02    2
2013-01-03    3
2013-01-04    4
             ..
2018-12-28    4
2018-12-29    5
2018-12-30    6
2018-12-31    0
2019-01-01    1
Freq: D, Length: 2193, dtype: int32

In [147]:
week = pd.DataFrame({
    'date':['']
})
week

                date
0  week.dt.dayofweek